@model IEnumerable<Project_64131310.Models.Project_64131310.ProductCategory>

@if (Model != null && Model.Any())
{

    <div class="banner">
        <div class="container">
            <div class="row">


                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image: url(Content/assets/images/banner-vietthuongvn-363x200-guitar-1.png)">
                        <div class="banner_category">
                            <a href="danh-muc-san-pham/guitar-1">GUITAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image: url(content/assets/images/piano-363x200.png) ">                     
                        <div class="banner_category">
                            <a href="danh-muc-san-pham/piano-2">PIANO</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image: url(content/assets/images/nhaccuday.png) ">
                        <div class="banner_category">              
                            <a href="danh-muc-san-pham/violin-3">VIOLIN</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-3">
                    <div class="banner_item align-items-center" style="background-image: url(content/assets/images/pearl-ra-mat-2-bo-trong-moi.jpg) ">
                        <div class="banner_category">
                            <a href="danh-muc-san-pham/trong-4">TRỐNG</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-3">
                    <div class="banner_item align-items-center" style="background-image: url(content/assets/images/SELMER.jpg)">
                        <div class="banner_category">                
                            <a href="danh-muc-san-pham/ken-5">KÈN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
